#top{
	height: 20px;
	background-color: #EEE;
}

#content{
	height: 530px;
	background-color: #EEF;
}

#bottom{
	height: 170px;
	background-color: #EEE;
}


.right {
	float: right;
}

.left {
	float: left;
}

.right-space {
	padding-right: 10px;
}

.left-space {
	padding-left: 10%;
}

.bottom-space {
	padding-bottom: 5%;
}

a:visited {
	text-decoration:none;color:#000000;
} 

a:active {
	text-decoration:none;color:#000000;
} 

a:hover {
	text-decoration:underline;color:#000000;
}

a {
	text-decoration:none;color:#000000;
}

body {
	font-family: arial;
}